@{
    ViewData["Title"] = "Privacy Policy";
    //Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p class="display-4" align="center">@ViewBag.Date</p>
<p>@ViewBag.DateReturn</p>
