@model Product

@{
    
    ViewBag.Title = "Product Name";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index page</title>
</head>
<body>
    Content will go here <br />
    @Model.Name <br/>
    @Model.Price
</body>
</html>

