@model IEnumerable<PartyInviteSite.Models.GuesResponse>

<!doctype html>
<html>
<head>
    <meta name="viewport" content="widht=device-widht" />
    <title>List of Members</title>
</head>
<body>
    <h2 align="center"> Here is the list of memers</h2>
    <table class="table"> @*Создание таблицы*@
        <thead> @*Я так понимаю вот эта хуйня - это заголовки столбцов*@
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody> @*данные*@
            @foreach (PartyInviteSite.Models.GuesResponse r in Model) @*Прогоняем коллекцию GuesspResponse и выводим оттуда всех записавшихся, но, в котроллере идет
                                                                проверка при помощи LINQ на галочку типа bool, поэтому выводятся только типы которые "точно пойдут"*@
            {
            <tr>
                <td>@r.Name</td>
                <td>@r.Mail</td>
                <td>@r.Phone</td>
            </tr>
            }

        </tbody>
    </table>

</body>
</html>